@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
   font-family: 'Poppins', sans-serif;
}
body{
   margin: 0%;
   padding: 15px;
   background-image: url("img/background.jpg");

}
#container{
   width: 80%;
   display: flex;
   flex-direction: row;
   color: white;
   margin: auto;
   background-image: url("img/bgpic.jpg");
   background-size: cover;
   box-shadow: rgb(80, 79, 79) 5px 0px 10px 5px, rgb(0, 0, 0) 0px 5px 5px;
   border-radius: 15px;
}
#left{
   width: 65%;
  
   height: 550px;

   padding-left: 80px;

}
#right{
   width: 35%;
   background-color: rgba(0, 0, 0, 0.801);  
   

}
#searchbut{
   background-image: url("img/search.png");
   font-size: larger;
   background-color: rgba(255, 166, 0, 0.719);
   border: 0;
   justify-items: flex-end
   
}
#userinput{
   background: none;
   border-bottom: 1px solid black;
   border: 0px; 
   border-bottom: 1px white solid;
   color: white;
   font-size: 15px;
}
#userinput:focus{
   outline: none;
}
#searchright{
   align-items: flex-end;
}
form{
   display: flex;
   justify-content: space-between;
   padding-left: 60px;
}
#detailcontainer{
   margin-top: 100px;
   padding-left: 60px;
   color: white;
}
#lcont{
   display: flex;
   color: rgb(0, 0, 0);
   padding-top: 0px;
   color: white;
   gap: 10px;

}
center{
   color: white;
   margin-top: 10px;
}
iframe{
   border:0; 
   border-radius: 15px;
   margin-top: 20px;
}
#current{
    padding-top: 50px;
}
#dailyfor{
    width: 80%;
    margin: auto;
    display: flex;
    gap:10px;
    margin-top: 20px;
    background-color: rgb(253, 255, 255);
    border-radius: 15px;
}
#dailyfor>div{
   border-radius: 15px;
   height: 130px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
   background-color: rgb(141, 141, 141);
   width: 100px;
   margin: 20px;
   text-align: center;

}
@media screen and (max-width: 600px) {
    #container{
        flex-direction: column-reverse;
      
    }
    #right{
        width: 100%;
    }
    #left{
        width: 100%;
        padding-left: 15px;
        height: fit-content;
    }
    #lcont{
        display: flex;
        flex-direction: column;
        color: white;
        padding-top: 50px;
        gap: 10px;
     }
     iframe{
         width: 90%;
     }
     form{
        padding-left: 10px;
 
     }
     #userinput{
         width: 70%;
     }
     #dailyfor{
         flex-direction: column;
         align-items: center;
     }

  }